* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}
.title__logo {
  height: 7rem;
  margin: 1rem;
}

.title__text {
  margin-left: 2rem;
}

.title__text--name {
  font-size: 3.6rem;
  display: inline;
  font-weight: 600;
}

.title__text--description {
  font-size: 1.6rem;
  font-weight: 200;
}

.spreadsheet {
  margin: 1rem 0.5rem;
}

table,
td,
th,
tr {
  border: 0.05rem solid rgba(197, 197, 197, 0.486);
  font-size: 1.4rem;
  height: 2.5rem;
  border-spacing: 0rem;
}

th {
  font-weight: 500;
}

thead {
  /* background-color: rgb(160, 180, 206); */
  background-color: #f1f1f1;
  /* color: #fff; */
}

td {
  min-width: 10rem;
  padding: 0.2rem 0.5rem;
}

th {
  padding: 0.2rem 0.4rem;
}
th > .dropdown {
  float: right;
}

tbody th {
  min-width: 5rem;
  background: #fafafa;
}

/* Dropdown Button */
.dropbtn {
  background-color: #e2e2e2d0;
  color: rgba(0, 0, 0, 0.5);
  padding: 0rem 0.3rem;
  /* /* font-size: 1.2rem; */
  border: none;
  cursor: pointer;
  transition: ease 0.4s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #d0d0d0;
  /* visibility: visible; */
}

.dropbtn img {
  height: 2rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16rem;
  box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: rgb(133, 132, 132);
  padding: 0.4rem;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.column-header-span {
  cursor: pointer;
}

.spreadsheet-controls {
  margin-left: 0.5rem;
}

.reset-btn {
  padding: 0.5rem 1.5rem;
  background-color: #d9534f;
  color: #fff;
  border-color: #d43f3a;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.reset-btn:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
