@media only screen and (min-width:1020px) {
	.at-Call-right .at-Call-right-inside h2 {
		font-size: 18px;
	}
	.at-inside-Call {
		padding: 90px 30px 90px 200px;
	}
	.at-inside-Call h2 {
		font-size: 18px;
	}

	.at-center767 {
		float: none;
		text-align: center;
	}
	.brand-panel{
		background: #dedede;
	}
	.flex-caption {
		font-size: 26px;
		line-height: 1.2;
	}
	.flex-caption span {
		font-size: 36px;
	}
	.at-respo-right {
		text-align: right;
	}

	.h1, h1{
		font-size: 24px;
		margin-bottom: 5px !important;
	}
	.slides .inner-border{
		/*top: 10% !important;*/
	}
	.at-inner-title-box {
		text-align: center;
		padding: 10px 10px;
		margin:10px;
		border: none;
		background: rgba(255, 255, 255, 0.7);
	}
	.at-inner-title-box p{
		font-size: 16px;
		line-height: initial;
	}
	.slick-initialized .slick-slide {
		display: block;
		padding: 20px 10px;
	}
	.flexslider .slides img{
		height: 450px !important;
	}
	/*.pcs h6{
		color: #ffffff;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 14px;
		text-transform: none;
		margin-bottom: 0 !important;
		background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		padding: 5px;
	}
	.pcs div{
		padding: 0 !important;
	}
	.pcs h6 i{
		color: #ffffff;
		display: none;
	}*/
	.at-agent-col{
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	.pro-reward-container{
		width: 100%;
	}
	.slider_section .container{
		padding: 0;
	}
	.slider_section .container > .row{
		margin: 0;
		width: 100%;
	}
	.pro-rewards-banner .reward-buttons{
		position: relative;
		width: 100%;
		padding-top: 15%;
	}
	.pro-rewards-banner .bd-button{
		padding: 0.8rem 1rem;
		font-size: 14px;
	}
	.pro-rewards-banner .bd-button:last-child{
		margin-left: 5px !important;
	}
	.pro-rewards-banner .right_div{
		top: auto;
		bottom: 0;
		width: 100%;
		height: auto;
	}
	.pro-rewards-items{
		padding:15px 0;
	}
	.pro-reward-item{
		min-height: 142px;
	}
	.funfact-section .container > .funfact{
		padding:0;
		float: left;
		width: 100%;
	}
	.funfact .fact-enquiry{
		position: relative;
		float: left;
		/*width: 100%;*/
		padding: 0 !important;
	}
	.consultation{
		padding: 15px !important;
	}
	.sec-title h3{
		text-align: center !important;
	}
	.sec-title h6{
		text-align: center !important;
	}
	.consultation:before{
		display: none;
	}
	.fact-counter{
		float: left;
		/*width: 100%;*/
		padding-top: 80px !important;
	}
	.counter-area .counter-column{
		width: 50%;
		float: left;
	}
	.fact-counter .item .inner-box{
		padding-top: 0;
	}
	.counter-column .icon-box{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.fact-counter .item .inner-box p{
		font-size: 16px;
		color: rgba(255, 255, 255, 1);
	}
	.fact-counter .count-outer{
		margin-bottom: 5px;
		min-height: 35px;
	}
	.fact-counter .item{
		padding: 0px;
	}
	.fact-counter .item .inner-box .icon-box{
		line-height: 1;
	}
	.fact-counter .item .inner-box .icon-box i:before{
		font-size: 30px;
	}
	.icon-box > i{
		font-size: 30px;
	}
	.consultation .contact-form .form-group{
		margin-bottom: 5px;
	}
	.pro-rewards-banner h2{
		font-size: 20px;
	}
	.pro-rewards-banner p{
		font-size: 16px;
	}

	/*cat filter*/
	.sidebar-wrapper {
		margin-bottom: 10px
	}

	.sidebar-shop {
		font-size: 1.4rem;
		background-color: white;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		-webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
		transition: height 2s;
	}
	.filter-button{
		width: 100%;
		background-color: #efefef;
		border: 1px solid #dddddd;
		display: none;
	}
	.filter-div-close{
		display: none;
	}
	.filter-wrapper{
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 99998;
	}
	.sidebar-shop .widget {
		padding-bottom: 0;
		border-bottom: 1px solid #efefef;
		margin: 0 0 2rem;
	}

	.sidebar-shop .widget::after {
		display: block;
		clear: both;
		content: ''
	}

	.sidebar-shop .widget.widget-block {
		padding-bottom: 0;
		border-bottom: none
	}

	.sidebar-shop .widget:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none
	}

	.sidebar-shop .widget-title {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 2;
		text-transform: uppercase;
		color: #21293c;
		margin: 0
	}

	.sidebar-shop .widget-title a {
		color: inherit;
		position: relative;
		display: block;
		padding: .2rem 0
	}

	.sidebar-shop .widget-title a:hover,
	.sidebar-shop .widget-title a:focus {
		color: #21293c;
		text-decoration: none
	}

	.sidebar-shop .widget-title a::after {
		content: '\f0de';
		font-family: FontAwesome;
		position: absolute;
		display: inline-block;
		font-size: 1.7rem;
		right: .3rem;
		top: 0;
		transition: all 0.35s
	}

	.sidebar-shop .widget-title a.collapsed::after {
		content: '\f0dd'
	}

	.sidebar-shop .widget-body {
		padding-top: 1.3rem;
		padding-bottom: 1.5rem
	}

	.sidebar-shop .widget-body::after {
		display: block;
		clear: both;
		content: ''
	}

	.sidebar-shop .widget-featured {
		position: relative
	}

	.sidebar-shop .widget-featured .widget-body {
		padding-top: 2.3rem
	}

	.sidebar-shop .widget-featured .product-sm:last-child {
		margin-bottom: 0
	}

	.cat-list {
		margin: 0;
		padding: 0;
		list-style: none
	}

	.cat-list li {
		margin-bottom: .8rem
	}

	.cat-list li:last-child {
		margin-bottom: 0
	}

	.cat-list li a {
		font-weight: 600;
		color: #7a7d82
	}

	.cat-list li a span {
		float: right
	}

	.cat-list li a:hover,
	.cat-list li a:focus {
		color: #e1ddc3
	}

	.price-slider-wrapper {
		padding-top: 1rem
	}

	.filter-price-action {
		display: flex;
		align-items: center;
		margin-top: 2.5rem;
		padding-bottom: .4rem
	}

	.filter-price-action::after {
		display: block;
		clear: both;
		content: ''
	}

	.filter-price-action .filter-price-text {
		margin-left: auto;
		font-size: 1.3rem
	}

	.filter-price-action .btn {
		font-size: 1.3rem;
		padding: .3rem .8rem;
		letter-spacing: .08em
	}

	#at-inner-title-sec {
		padding: 0 0 50px;
		background: #F2F2F2;
		background: url(../images/background/2.jpg);
		background-size: cover;
		background-position: center;
	}
	#at-inner-title-sec .at-inner-title-box {
		background: rgba(255, 255, 255, 0.95);
		border: 5px solid rgba(0, 0, 0, 0.2);
		border-top: none;
		padding: 30px 20px;
	}
	#at-inner-title-sec .at-inner-title-box h2 {
		color: #000000;
		font-size: 30px;
	}
	#at-inner-title-sec .at-inner-title-box p {
		color: #000000;
		font-size: 14px;
		text-transform: uppercase;
	}
	#at-inner-title-sec .at-inner-title-box p a {
		color: #000000;
	}
	#at-inner-title-sec .at-inner-title-box p a:hover {
		color: rgb(0, 52, 129);
	}

	.at-property-location .rating {
		display: none;
	}

	.top-brand-slider{
		background-color: white;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		padding: 0px;
		margin: 10px 0;
	}

	#showtable{
		display: block;
	}

	#showpoptable{
		display: none;
	}

	.at-property-sec at-property-right-sidebar>div>div{
		padding: 15px 0;
		margin-top: -55px;
	}
}

@media only screen and (min-width:767px) and (max-width:1020px) {
	.at-sign-in-up p {
		margin-right: 10px;
	}
	.at-social a i {
		margin-left: 5px;
	}
	.at-navbar .navbar-brand img {
		width: 140px;
		height: auto;
	}
	.at-navbar .navbar-default .navbar-nav > li > a {
		margin-left: 1px;
		padding: 25px 0;
	}
	.at-navbar .dropdown-menu > li > a {
		padding: 15px 10px;
	}
	.at-navbar .navbar-default .navbar-nav>li {
		margin-left: 18px;
	}
	.at-Call-left {
		float: none;
		margin-left: 0;
		width: 100%;
		border: none;
		text-align: center;
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	.at-inside-Call {
		padding: 50px 0;
		text-align: center;
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	.at-Call-right {
		float: none;
		text-align: center;
		width: 100%;
		padding: 50px 30px;
	}
	.at-short-line {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.main-search-field-two .at-search-box {
		margin-top: 20px;
	}
	.at-sidebar-search {
		margin-top: 30px;
	}
	.at-Call-right .at-Call-right-inside h2 {
		font-size: 24px;
		line-height: 1.3;
	}
	.at-inside-Call h2 {
		font-size: 24px;
		line-height: 1.3;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header,
	.navbar-nav .open .dropdown-menu > li > a {
		padding: 10px 15px 10px 15px;
	}
	.navbar-toggle {
		border-radius: 0;
	}
	.m-view{
		display: inline-block !important;
	}
	.d-view{
		display: none;
	}
	.at-header-topbar {
		padding: 0px 0 5px 0;
	}
	.navbar-nav {
		max-height: fit-content;
		margin: 0;
	}
	.at-navbar a .caret{
		display: block;
		color: rgb(0, 52, 129);
		float: right;
		margin: 10px 10px 0 0;
	}
	.at-navbar .navbar-default .navbar-nav > li > a {
		padding: 8px 10px;
		text-align: left;
		box-shadow: none;
		margin-top:1em;	color: rgb(0, 52, 129);
		margin-left: 0;
	}
	.at-navbar .navbar-default .navbar-nav > li{
		border-bottom: 1px solid #e1e1e1;
	}
	#at-inner-title-sec .at-inner-title-box h2 {
		color: #CC935C;
		font-size: 30px;
	}
	.at-about-sec {
		padding-bottom: 0;
	}
	.slide-caption-title {
		font-size: 28px;
	}
	.navbar-brand{
		padding: 6px 0 0 0;
		height: auto;
		margin-bottom: 10px;
	}
	.navbar-brand > img{
		height: auto;
		max-height: 40px;
		width: auto;
	}
	.nav-justified > li {
		float: left;
		width: 25%;
		padding: 0;
		margin: 0;
	}
	.nav-justified>.active {
		padding: 0;
		margin: 0;
	}
	.at-property-details-col .nav>li>a {
		padding: 0;
	}
	.nav-pills>li+li {
		margin: 0;
	}
	#at-inner-title-sec img {
		width: 50%;
		margin: 0 auto;
		display: block;
	}
	.navbar-brand{
		padding: 6px 0 0 0;
		height: auto;
		margin-bottom: 10px;
		max-width: 150px;
	}
	.navbar-brand > img{
		height: auto;
		max-height: 40px;
		width: auto;
	}
	.at-navbar{
		position: fixed;
		top: 0;
		width: 80%;
		left: -80%;
		bottom: 0;
		z-index: 2;
		background: #ffffff;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-transition: all 0.5s; /* Safari */
		transition: all 0.5s;
	}
	.navbar-toggle span.icon-bar{
		-webkit-transition: all 0.5s; /* Safari */
		transition: all 0.5s;
	}
	.navbar-toggle span.icon-bar:nth-child(3){
		-webkit-transition: all 0s; /* Safari */
		transition: all 0s;
	}
	.navbar-toggle.close-it span.icon-bar:nth-child(2){
		-ms-transform: rotate(45deg); /* IE 9 */
		-webkit-transform: rotate(45deg); /* Safari */
		transform: rotate(45deg); /* Standard syntax */
		position: absolute;
		top: 48%;
	}
	.navbar-toggle.close-it span.icon-bar:nth-child(3){
		visibility: hidden;
	}
	.close-it{
		min-height: 34px;
	}
	.navbar-toggle.close-it span.icon-bar:nth-child(4){
		-ms-transform: rotate(-45deg); /* IE 9 */
		-webkit-transform: rotate(-45deg); /* Safari */
		transform: rotate(-45deg); /* Standard syntax */
		position: absolute;
		top: 35%;
	}
	.at-navbar.open{
		left: 0 !important;
	}
	.at-navbar .col-md-12{
		padding: 0;
	}
	#bs-example-navbar-collapse-1{
		padding: 0;
	}
	#bs-example-navbar-collapse-1 > ul{
		margin: 0;
	}
	#topNav > ul{
		width: 100%;
	}
	.at-navbar .navbar-default .navbar-nav>li{
		margin-left: 0;
	}
	.mega-dropdown-menu{
		padding-bottom: 0 !important;
	}
	.mega-dropdown-menu > li{
		display: none;
	}
	.mega-dropdown-menu > ul > li > ul > li > a{
		padding-left: 30px;
		font-size: 15px;
	}
	aside.sidebar-shop{
		position: fixed;
		left: 100%;
		top: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		background-color: transparent;
		webkit-transition: all 0.5s;
		transition: all 0.5s;
		box-shadow: none;
		z-index: 999999;
	}
	aside.sidebar-shop .sidebar-wrapper{
		width: 77%;
		background-color: #ffffff;
		border-left: 1px solid #dddddd;
		float: right;
		padding: 15px;
		margin: 0;
		min-height: 100vh;
	}
	aside.sidebar-shop.open{
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 999999;
		padding: 0;
		webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	aside.sidebar-shop.open ~ .filter-wrapper{
		display: block;
	}
	.filter-button{
		display: block;
		margin-bottom: 30px;
	}
	.filter-div-close{
		float: left;
		width: 23%;
		height: 100%;
		cursor: pointer;
		display: block;

	}
	.verticleCarouselContainer{
		height: 476px;
	}
	.verticleCarouselContainer article{
		height: auto;
	}
	.verticleCarouselContainer article .home-featured-image img{
		height: 200px;
		width: 100%;
	}
	.border-left{
		border-left: none !important;
	}
	.quantity-select{
		margin: auto;
		max-width: 150px;
		float: none;
	}
	.reviews-graph .col-xs-2{
		padding: 0;
	}
	.rev-count{
		display: none;
	}
	.mob-rev-count{
		display: block;
		position: absolute;
		z-index: 2;
		top: -5px;
		right: 0;
		left: 0;
		text-align: center;
	}
	.carousel-inner img{
		width: 100%;
		height: 350px;
	}
	.nav-pills{
		margin-top: 5px !important;
	}
	.comparison-tile-bullets{
		margin-bottom: 25px;
	}
	.sample-1 {
		padding: 0 0 15px 0;
	}
	.sample-2 {
		padding: 0 0 15px 0;
	}
	.sample-3 {
		padding: 0 0 15px 0;
	}
	.sample-4 {
		padding: 0 15px 15px 15px;
	}
	.sample-5 {
		padding: 0 15px 15px 15px;
	}
	.request-box{
		position: relative;
		right: auto;
		margin-top: 5%;
		max-width: 300px;
		float: none;
		padding: 25px;
		min-height: 250px;
		margin-right: auto;
		margin-left: auto;
	}
	.apk_block span{
		font-size: 24px;
	}
	.apk_block{
		border: none;
	}
	.prevBtn{
		float: left;
		font-size: 12px;
	}
	.nextBtn{
		font-size: 12px;
	}
	.pdtop-100{
		padding-top: 30px;
	}
	.pdbtm-165{
		padding-bottom: 50px !important;
	}
	.style-1{
		padding: 40px 25px !important;
	}
	.b-hero1{
		padding-left: 0;
		padding-right: 0;
	}
	div.home_categories a{
		width: 48%;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img{
		height: 350px;
		/*width: 264px !important;*/
	}
	.agent-carousel-4 .slick-prev{
		left: 0 !important;
	}
	.agent-carousel-4 .slick-next{
		right: 0 !important;
	}
	.advice-box .advice-img{
		width: 100%;
		height: auto;
	}
	.advice-inner-content{
		margin-left: 0;
		margin-top: -27%;
		min-height: 235px;
		height: auto;
	}
	.advice-bottom-content{
		margin-left: 0;
	}

	.at-center767 {
		float: none;
		text-align: center;
	}
	.brand-panel{
		background: #dedede;
	}
	.flex-caption {
		font-size: 26px;
		line-height: 1.2;
	}
	.flex-caption span {
		font-size: 36px;
	}
	.at-respo-right {
		text-align: right;
	}

	.h1, h1{
		font-size: 20px;
		margin-bottom: 0px !important;
	}
	.slides .inner-border{
		/*top: 10% !important;*/
	}
	.at-inner-title-box {
		text-align: center;
		padding: 10px 10px;
		margin:10px;
		border: none;
		background: rgba(255, 255, 255, 0.7);
	}
	.at-inner-title-box p{
		font-size: 14px;
		line-height: initial;
	}
	.slick-initialized .slick-slide {
		display: block;
		padding: 20px 10px;
	}
	.flexslider .slides img{
		height: 200px !important;
	}
	/*.pcs h6{
		color: #ffffff;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 14px;
		text-transform: none;
		margin-bottom: 0 !important;
		background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		padding: 5px;
	}
	.pcs div{
		padding: 0 !important;
	}
	.pcs h6 i{
		color: #ffffff;
		display: none;
	}*/
	.at-agent-col{
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	.pro-reward-container{
		width: 100%;
	}
	.slider_section .container{
		padding: 0;
	}
	.slider_section .container > .row{
		margin: 0;
		width: 100%;
	}
	.pro-rewards-banner .reward-buttons{
		position: relative;
		width: 100%;
		padding-top: 15%;
	}
	.pro-rewards-banner .bd-button{
		padding: 0.8rem 1rem;
		font-size: 14px;
	}
	.pro-rewards-banner .bd-button:last-child{
		margin-left: 5px !important;
	}
	.pro-rewards-banner .right_div{
		top: auto;
		bottom: 0;
		width: 100%;
		height: auto;
	}
	.pro-rewards-items{
		padding:15px 0;
	}
	.pro-reward-item{
		min-height: 142px;
	}
	.funfact-section .container > .funfact{
		padding:0;
		float: left;
		width: 100%;
	}
	.funfact .fact-enquiry{
		position: relative;
		float: left;
		width: 50% !important;
		padding: 0 !important;
	}
	.consultation{
		padding: 15px !important;
	}
	.consultation-form{
		margin-left: 0;
	}
	.consultation:before{
		display: none;
	}
	.fact-counter{
		float: left;
		width: 50% !important;
	}
	.counter-area .counter-column{
		width: 50%;
		float: left;
	}
	.fact-counter .item .inner-box{
		padding-top: 0;
	}
	.counter-column .icon-box{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.fact-counter .item .inner-box p{
		font-size: 16px;
		color: rgba(255, 255, 255, 1);
	}
	.fact-counter .count-outer{
		margin-bottom: 5px;
		min-height: 35px;
	}
	.fact-counter .item{
		padding: 0px;
	}
	.fact-counter .item .inner-box .icon-box{
		line-height: 1;
	}
	.fact-counter .item .inner-box .icon-box i:before{
		font-size: 30px;
	}
	.icon-box > i{
		font-size: 30px;
	}
	.consultation .contact-form .form-group{
		margin-bottom: 5px;
	}
	.pro-rewards-banner h2{
		font-size: 20px;
	}
	.pro-rewards-banner p{
		font-size: 16px;
	}

	/*cat filter*/
	.sidebar-wrapper {
		margin-bottom: 10px
	}

	.sidebar-shop {
		font-size: 1.4rem;
		background-color: white;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		-webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
		transition: height 2s;
	}
	.filter-button{
		width: 100%;
		background-color: #efefef;
		border: 1px solid #dddddd;
		display: block;
	}
	.filter-div-close{
		display: none;
	}
	.filter-wrapper{
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 99998;
	}
	.sidebar-shop .widget {
		padding-bottom: 0;
		border-bottom: 1px solid #efefef;
		margin: 0 0 2rem;
	}

	.sidebar-shop .widget::after {
		display: block;
		clear: both;
		content: ''
	}

	.sidebar-shop .widget.widget-block {
		padding-bottom: 0;
		border-bottom: none
	}

	.sidebar-shop .widget:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none
	}

	.sidebar-shop .widget-title {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 2;
		text-transform: uppercase;
		color: #21293c;
		margin: 0
	}

	.sidebar-shop .widget-title a {
		color: inherit;
		position: relative;
		display: block;
		padding: .2rem 0
	}

	.sidebar-shop .widget-title a:hover,
	.sidebar-shop .widget-title a:focus {
		color: #21293c;
		text-decoration: none
	}

	.sidebar-shop .widget-title a::after {
		content: '\f0de';
		font-family: FontAwesome;
		position: absolute;
		display: inline-block;
		font-size: 1.7rem;
		right: .3rem;
		top: 0;
		transition: all 0.35s
	}

	.sidebar-shop .widget-title a.collapsed::after {
		content: '\f0dd'
	}

	.sidebar-shop .widget-body {
		padding-top: 1.3rem;
		padding-bottom: 1.5rem
	}

	.sidebar-shop .widget-body::after {
		display: block;
		clear: both;
		content: ''
	}

	.sidebar-shop .widget-featured {
		position: relative
	}

	.sidebar-shop .widget-featured .widget-body {
		padding-top: 2.3rem
	}

	.sidebar-shop .widget-featured .product-sm:last-child {
		margin-bottom: 0
	}

	.cat-list {
		margin: 0;
		padding: 0;
		list-style: none
	}

	.cat-list li {
		margin-bottom: .8rem
	}

	.cat-list li:last-child {
		margin-bottom: 0
	}

	.cat-list li a {
		font-weight: 600;
		color: #7a7d82
	}

	.cat-list li a span {
		float: right
	}

	.cat-list li a:hover,
	.cat-list li a:focus {
		color: #e1ddc3
	}

	.price-slider-wrapper {
		padding-top: 1rem
	}

	.filter-price-action {
		display: flex;
		align-items: center;
		margin-top: 2.5rem;
		padding-bottom: .4rem
	}

	.filter-price-action::after {
		display: block;
		clear: both;
		content: ''
	}

	.filter-price-action .filter-price-text {
		margin-left: auto;
		font-size: 1.3rem
	}

	.filter-price-action .btn {
		font-size: 1.3rem;
		padding: .3rem .8rem;
		letter-spacing: .08em
	}

	#at-inner-title-sec {
		padding: 0 0 50px;
		background: #F2F2F2;
		background: url(../images/background/2.jpg);
		background-size: cover;
		background-position: center;
	}
	#at-inner-title-sec .at-inner-title-box {
		background: rgba(255, 255, 255, 0.95);
		border: 5px solid rgba(0, 0, 0, 0.2);
		border-top: none;
		padding: 30px 20px;
	}
	#at-inner-title-sec .at-inner-title-box h2 {
		color: #000000;
		font-size: 30px;
	}
	#at-inner-title-sec .at-inner-title-box p {
		color: #000000;
		font-size: 14px;
		text-transform: uppercase;
	}
	#at-inner-title-sec .at-inner-title-box p a {
		color: #000000;
	}
	#at-inner-title-sec .at-inner-title-box p a:hover {
		color: rgb(0, 52, 129);
	}
	.sec-title h3{
		text-align: center !important;
	}
	.sec-title h6{
		text-align: center !important;
	}

	.top-brand-slider{
		background-color: white;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		padding: 0px;
		margin: 10px 0;
	}

	#showtable{
		display: block;
	}

	#showpoptable{
		display: none;
	}

    .grid-item .tiles {
        border: 3px solid #ffffff;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
        transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
        position: relative;
        float: left;
        width: 50% !important;
    }
	.at-property-sec at-property-right-sidebar>div>div{
		padding: 15px 0;
		margin-top: -55px;
	}
}

@media only screen and (min-width:480px) and (max-width:767px) {
	.at-center767 {
		float: none;
		text-align: center;
	}
	.brand-panel{
		background: #dedede;
	}
	.flex-caption {
		font-size: 26px;
		line-height: 1.2;
	}
	.flex-caption span {
		font-size: 36px;
	}
	.at-respo-right {
		text-align: right;
	}

	.h1, h1{
		font-size: 20px;
		margin-bottom: 0px !important;
	}
	.slides .inner-border{
		/*top: 10% !important;*/
	}
	.at-inner-title-box {
		text-align: center;
		padding: 10px 10px;
		margin:10px;
		border: none;
		background: rgba(255, 255, 255, 0.7);
	}
	.at-inner-title-box p{
		font-size: 14px;
		line-height: initial;
	}
	.slick-initialized .slick-slide {
		display: block;
		padding: 20px 10px;
	}
	.flexslider .slides img{
		height: 200px !important;
	}
	/*.pcs h6{
		color: #ffffff;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 14px;
		text-transform: none;
		margin-bottom: 0 !important;
		background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		padding: 5px;
	}
	.pcs div{
		padding: 0 !important;
	}
	.pcs h6 i{
		color: #ffffff;
		display: none;
	}*/
	.at-agent-col{
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	.pro-reward-container{
		width: 100%;
	}
	.slider_section .container{
		padding: 0;
	}
	.slider_section .container > .row{
		margin: 0;
		width: 100%;
	}
	.pro-rewards-banner .reward-buttons{
		position: relative;
		width: 100%;
		padding-top: 15%;
	}
	.pro-rewards-banner .bd-button{
		padding: 0.8rem 1rem;
		font-size: 14px;
	}
	.pro-rewards-banner .bd-button:last-child{
		margin-left: 5px !important;
	}
	.pro-rewards-banner .right_div{
		top: auto;
		bottom: 0;
		width: 100%;
		height: auto;
	}
	.pro-rewards-items{
		padding:15px 0;
	}
	.pro-reward-item{
		min-height: 142px;
	}
	.funfact-section .container > .funfact{
		padding:0;
		float: left;
		width: 100%;
	}
	.funfact .fact-enquiry{
		position: relative;
		float: left;
		width: 100%;
		padding: 0 !important;
	}
	.consultation{
		padding: 15px !important;
	}
	.consultation-form{
		margin-left: 0;
	}
	.consultation:before{
		display: none;
	}
	.fact-counter{
		float: left;
		width: 100%;
	}
	.counter-area .counter-column{
		width: 50%;
		float: left;
	}
	.fact-counter .item .inner-box{
		padding-top: 0;
	}
	.counter-column .icon-box{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.fact-counter .item .inner-box p{
		font-size: 16px;
		color: rgba(255, 255, 255, 1);
	}
	.fact-counter .count-outer{
		margin-bottom: 5px;
		min-height: 35px;
	}
	.fact-counter .item{
		padding: 0px;
	}
	.fact-counter .item .inner-box .icon-box{
		line-height: 1;
	}
	.fact-counter .item .inner-box .icon-box i:before{
		font-size: 30px;
	}
	.icon-box > i{
		font-size: 30px;
	}
	.consultation .contact-form .form-group{
		margin-bottom: 5px;
	}
	.pro-rewards-banner h2{
		font-size: 20px;
	}
	.pro-rewards-banner p{
		font-size: 16px;
	}

	/*cat filter*/
	.sidebar-wrapper {
		margin-bottom: 10px
	}

	.sidebar-shop {
		font-size: 1.4rem;
		background-color: white;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		-webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
		transition: height 2s;
	}
	.filter-button{
		width: 100%;
		background-color: #efefef;
		border: 1px solid #dddddd;
		display: block;
	}
	.filter-div-close{
		display: none;
	}
	.filter-wrapper{
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 99998;
	}
	.sidebar-shop .widget {
		padding-bottom: 0;
		border-bottom: 1px solid #efefef;
		margin: 0 0 2rem;
	}

	.sidebar-shop .widget::after {
		display: block;
		clear: both;
		content: ''
	}

	.sidebar-shop .widget.widget-block {
		padding-bottom: 0;
		border-bottom: none
	}

	.sidebar-shop .widget:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none
	}

	.sidebar-shop .widget-title {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 2;
		text-transform: uppercase;
		color: #21293c;
		margin: 0
	}

	.sidebar-shop .widget-title a {
		color: inherit;
		position: relative;
		display: block;
		padding: .2rem 0
	}

	.sidebar-shop .widget-title a:hover,
	.sidebar-shop .widget-title a:focus {
		color: #21293c;
		text-decoration: none
	}

	.sidebar-shop .widget-title a::after {
		content: '\f0de';
		font-family: FontAwesome;
		position: absolute;
		display: inline-block;
		font-size: 1.7rem;
		right: .3rem;
		top: 0;
		transition: all 0.35s
	}

	.sidebar-shop .widget-title a.collapsed::after {
		content: '\f0dd'
	}

	.sidebar-shop .widget-body {
		padding-top: 1.3rem;
		padding-bottom: 1.5rem
	}

	.sidebar-shop .widget-body::after {
		display: block;
		clear: both;
		content: ''
	}

	.sidebar-shop .widget-featured {
		position: relative
	}

	.sidebar-shop .widget-featured .widget-body {
		padding-top: 2.3rem
	}

	.sidebar-shop .widget-featured .product-sm:last-child {
		margin-bottom: 0
	}

	.cat-list {
		margin: 0;
		padding: 0;
		list-style: none
	}

	.cat-list li {
		margin-bottom: .8rem
	}

	.cat-list li:last-child {
		margin-bottom: 0
	}

	.cat-list li a {
		font-weight: 600;
		color: #7a7d82
	}

	.cat-list li a span {
		float: right
	}

	.cat-list li a:hover,
	.cat-list li a:focus {
		color: #e1ddc3
	}

	.price-slider-wrapper {
		padding-top: 1rem
	}

	.filter-price-action {
		display: flex;
		align-items: center;
		margin-top: 2.5rem;
		padding-bottom: .4rem
	}

	.filter-price-action::after {
		display: block;
		clear: both;
		content: ''
	}

	.filter-price-action .filter-price-text {
		margin-left: auto;
		font-size: 1.3rem
	}

	.filter-price-action .btn {
		font-size: 1.3rem;
		padding: .3rem .8rem;
		letter-spacing: .08em
	}

	#at-inner-title-sec {
		padding: 0 0 50px;
		background: #F2F2F2;
		background: url(../images/background/2.jpg);
		background-size: cover;
		background-position: center;
	}
	#at-inner-title-sec .at-inner-title-box {
		background: rgba(255, 255, 255, 0.95);
		border: 5px solid rgba(0, 0, 0, 0.2);
		border-top: none;
		padding: 30px 20px;
	}
	#at-inner-title-sec .at-inner-title-box h2 {
		color: #000000;
		font-size: 30px;
	}
	#at-inner-title-sec .at-inner-title-box p {
		color: #000000;
		font-size: 14px;
		text-transform: uppercase;
	}
	#at-inner-title-sec .at-inner-title-box p a {
		color: #000000;
	}
	#at-inner-title-sec .at-inner-title-box p a:hover {
		color: rgb(0, 52, 129);
	}

	#topNav > ul{
		width: 100% !important;
	}

	.price {
		font-family: 'Lato', sans-serif;
		font-size: 10px;
		line-height: 10px;
		font-weight: 700;
		color: #303030;
	}

	.at-property-img {
		position: relative;
		overflow: hidden;
		height: 100px !important;
	}

	.at-property-location {
		height: 150px !important;
	}

	.at-property-location .rating {
		display: none;
	}

	#productDiv {
		margin-top: 15px;
		width: 100% !important;
	}
	.table-responsive {
		width: 100% !important;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #ddd;
	}

	.ptop{
		padding-top: 65px !important;
	}

	.sec-title h3{
		text-align: center !important;
	}
	.sec-title h6{
		text-align: center !important;
	}

	.top-brand-slider{
		background-color: white;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		padding: 0px;
		margin: 10px 0;
	}

	#showtable{
		display: none;
	}

	#showpoptable{
		display: block;
	}

	.quantityvar {
		width: 100% !important;
		height: 30px;
	}

	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
		height: 350px;
		width: 100% !important;
	}

	.at-property-sec at-property-right-sidebar>div>div{
		padding: 15px 0;
		margin-top: 0px !important;
	}

	.advice-content {
		padding: 0 !important;
		width: 375px;
		margin-left: 17px;
		margin-top: -100px;
	}

	.advice-inner-content {
		background-color: white;
		height: 240px;
		margin-left: 0px !important;
		box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
		padding-bottom: 25px;
	}

	.slide {
		list-style-type: none;
		padding: 0;
		margin-left: -31px !important;
	}

	.slick-slide .slick-current .slick-active{
		width: 200px !important;
	}

	.navbar-brand>img {
		height: 20px !important;
	}
}
@media only screen and (max-width:480px) {
	.at-full-wd480 {
		width: 100%;
	}
	.nav>li {
		text-align: left;
	}
	.at-main-herader-sec {
		text-align: center;
	}
	.at-main-herader-sec .at-respo-right {
		text-align: center;
	}
	.at-sign-in-up {
		float: none;
		text-align: center;
		display: inline-block;
	}
	.at-main-herader-sec .at-social {
		float: none;
		text-align: center;
		display: inline-block;
	}
	.slide-caption-title {
		font-size: 20px;
	}
	.navbar-brand{
		padding: 6px 0 0 0;
		height: auto;
		margin-bottom: 10px;
	}
	.navbar-brand > img{
		height: auto;
		max-height: 20px;
		width: auto;
	}
	.cont-image{
		width:100%;
		height:auto;
		margin-top: 12px;
	}
	.inner-div > div{
		padding: 0;
	}
	.cont-content{
		text-transform: none;
		font-size: 16px;
	}
	div.home_categories a{
		width: 48%;
	}
	.carousel-inner#photo_gallery .item{
		height: 300px;
		overflow: hidden;
	}

	.at-center767 {
		float: none;
		text-align: center;
	}
	.brand-panel{
		background: #dedede;
	}
	.flex-caption {
		font-size: 26px;
		line-height: 1.2;
	}
	.flex-caption span {
		font-size: 36px;
	}
	.at-respo-right {
		text-align: right;
	}

	.h1, h1{
		font-size: 20px;
		margin-bottom: 0px !important;
	}
	.slides .inner-border{
		/*top: 10% !important;*/
	}
	.at-inner-title-box {
		text-align: center;
		padding: 10px 10px;
		margin:10px;
		border: none;
		background: rgba(255, 255, 255, 0.7);
	}
	.at-inner-title-box p{
		font-size: 14px;
		line-height: initial;
	}
	.slick-initialized .slick-slide {
		display: block;
		padding: 20px 10px;
		/*width: 200px !important;*/
	}
	.flexslider .slides img{
		height: 200px !important;
	}
	/*.pcs h6{
		color: #ffffff;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 14px;
		text-transform: none;
		margin-bottom: 0 !important;
		background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		padding: 5px;
	}
	.pcs div{
		padding: 0 !important;
	}
	.pcs h6 i{
		color: #ffffff;
		display: none;
	}*/
	.at-agent-col{
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	.pro-reward-container{
		width: 100%;
	}
	.slider_section .container{
		padding: 0;
	}
	.slider_section .container > .row{
		margin: 0;
		width: 100%;
	}
	.pro-rewards-banner .reward-buttons{
		position: relative;
		width: 100%;
		padding-top: 15%;
	}
	.pro-rewards-banner .bd-button{
		padding: 0.8rem 1rem;
		font-size: 14px;
	}
	.pro-rewards-banner .bd-button:last-child{
		margin-left: 5px !important;
	}
	.pro-rewards-banner .right_div{
		top: auto;
		bottom: 0;
		width: 100%;
		height: auto;
	}
	.pro-rewards-items{
		padding:15px 0;
	}
	.pro-reward-item{
		min-height: 142px;
	}
	.funfact-section .container > .funfact{
		padding:0;
		float: left;
		width: 100%;
	}
	.funfact .fact-enquiry{
		position: relative;
		float: left;
		width: 100%;
		padding: 0 !important;
	}
	.consultation{
		padding: 15px !important;
	}
	.consultation-form{
		margin-left: 0;
	}
	.consultation:before{
		display: none;
	}
	.fact-counter{
		float: left;
		width: 100%;
	}
	.counter-area .counter-column{
		width: 50%;
		float: left;
	}
	.fact-counter .item .inner-box{
		padding-top: 0;
	}
	.counter-column .icon-box{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.fact-counter .item .inner-box p{
		font-size: 16px;
		color: rgba(255, 255, 255, 1);
	}
	.fact-counter .count-outer{
		margin-bottom: 5px;
		min-height: 35px;
	}
	.fact-counter .item{
		padding: 0px;
	}
	.fact-counter .item .inner-box .icon-box{
		line-height: 1;
	}
	.fact-counter .item .inner-box .icon-box i:before{
		font-size: 30px;
	}
	.icon-box > i{
		font-size: 30px;
	}
	.consultation .contact-form .form-group{
		margin-bottom: 5px;
	}
	.pro-rewards-banner h2{
		font-size: 20px;
	}
	.pro-rewards-banner p{
		font-size: 16px;
	}

	/*cat filter*/
	.sidebar-wrapper {
		margin-bottom: 10px
	}

	.sidebar-shop {
		font-size: 1.4rem;
		background-color: white;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		-webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
		transition: height 2s;
	}
	.filter-button{
		width: 100%;
		background-color: #efefef;
		border: 1px solid #dddddd;
		display: none;
	}
	.filter-div-close{
		display: none;
	}
	.filter-wrapper{
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 99998;
	}
	.sidebar-shop .widget {
		padding-bottom: 0;
		border-bottom: 1px solid #efefef;
		margin: 0 0 2rem;
	}

	.sidebar-shop .widget::after {
		display: block;
		clear: both;
		content: ''
	}

	.sidebar-shop .widget.widget-block {
		padding-bottom: 0;
		border-bottom: none
	}

	.sidebar-shop .widget:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none
	}

	.sidebar-shop .widget-title {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 2;
		text-transform: uppercase;
		color: #21293c;
		margin: 0
	}

	.sidebar-shop .widget-title a {
		color: inherit;
		position: relative;
		display: block;
		padding: .2rem 0
	}

	.sidebar-shop .widget-title a:hover,
	.sidebar-shop .widget-title a:focus {
		color: #21293c;
		text-decoration: none
	}

	.sidebar-shop .widget-title a::after {
		content: '\f0de';
		font-family: FontAwesome;
		position: absolute;
		display: inline-block;
		font-size: 1.7rem;
		right: .3rem;
		top: 0;
		transition: all 0.35s
	}

	.sidebar-shop .widget-title a.collapsed::after {
		content: '\f0dd'
	}

	.sidebar-shop .widget-body {
		padding-top: 1.3rem;
		padding-bottom: 1.5rem
	}

	.sidebar-shop .widget-body::after {
		display: block;
		clear: both;
		content: ''
	}

	.sidebar-shop .widget-featured {
		position: relative
	}

	.sidebar-shop .widget-featured .widget-body {
		padding-top: 2.3rem
	}

	.sidebar-shop .widget-featured .product-sm:last-child {
		margin-bottom: 0
	}

	.cat-list {
		margin: 0;
		padding: 0;
		list-style: none
	}

	.cat-list li {
		margin-bottom: .8rem
	}

	.cat-list li:last-child {
		margin-bottom: 0
	}

	.cat-list li a {
		font-weight: 600;
		color: #7a7d82
	}

	.cat-list li a span {
		float: right
	}

	.cat-list li a:hover,
	.cat-list li a:focus {
		color: #e1ddc3
	}

	.price-slider-wrapper {
		padding-top: 1rem
	}

	.filter-price-action {
		display: flex;
		align-items: center;
		margin-top: 2.5rem;
		padding-bottom: .4rem
	}

	.filter-price-action::after {
		display: block;
		clear: both;
		content: ''
	}

	.filter-price-action .filter-price-text {
		margin-left: auto;
		font-size: 1.3rem
	}

	.filter-price-action .btn {
		font-size: 1.3rem;
		padding: .3rem .8rem;
		letter-spacing: .08em
	}

	#at-inner-title-sec {
		padding: 0 0 50px;
		background: #F2F2F2;
		background: url(../images/background/2.jpg);
		background-size: cover;
		background-position: center;
	}
	#at-inner-title-sec .at-inner-title-box {
		background: rgba(255, 255, 255, 0.95);
		border: 5px solid rgba(0, 0, 0, 0.2);
		border-top: none;
		padding: 30px 20px;
	}
	#at-inner-title-sec .at-inner-title-box h2 {
		color: #000000;
		font-size: 30px;
	}
	#at-inner-title-sec .at-inner-title-box p {
		color: #000000;
		font-size: 14px;
		text-transform: uppercase;
	}
	#at-inner-title-sec .at-inner-title-box p a {
		color: #000000;
	}
	#at-inner-title-sec .at-inner-title-box p a:hover {
		color: rgb(0, 52, 129);
	}

	#topNav > ul{
		width: 100% !important;
	}

	.price {
		font-family: 'Lato', sans-serif;
		font-size: 10px;
		line-height: 10px;
		font-weight: 700;
		color: #303030;
	}

	.at-property-img {
		position: relative;
		overflow: hidden;
		height: 100px !important;
	}

	.at-property-location {
		height: 125px !important;
		min-height: 100px !important;
	}

	.at-property-location .rating {
		display: none;
	}

	.at-property-location .cart-btn-custom button {
		width: 100%;
		background: rgb(0, 52, 129);
		border: none;
		color: #fff;
		font-size: 10px !important;
	}

	#productDiv {
		margin-top: 15px;
		width: 100% !important;
	}

	.table-responsive {
		width: 100% !important;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #ddd;
	}

	.ptop{
		padding-top: 65px !important;
	}

	#sign{
		display: none !important;
	}

	.b-hero1 {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: 50vh;
		margin-top: -120px;
		padding: 0px !important;
	}

	.sec-title h3{
		text-align: center !important;
	}
	.sec-title h6{
		text-align: center !important;
	}

	.at-product-category{
		margin: 0;
	 	padding: 15px 0;
		border: none;
	}

	.top-brand-slider{
		background-color: white;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		padding: 0px;
		/*margin: 0 !important;*/
	}

	.padlr{
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.products{
		margin: 0 !important;
	}

	.at-col-default-mar {
	 	margin-bottom: 0 !important;
		box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
	}

	.content {
		background: rgb(255, 255, 255);
		/* border-radius: 10px; */
		padding: 0px !important;
	 	margin-top: 0 !important;
		margin-bottom: 40px;
		box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
	}

	.at-property-sec {
		padding-top: 0 !important;
	}

	#showtable{
		display: none;
	}

	#showpoptable{
		display: block;
	}

	.quantityvar {
		width: 100% !important;
		height: 30px;
	}

	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
		height: 220px;
		width: 100% !important;
	}

    .border-img>img {
        height: 70% !important;
    }

    .TempoCategoryTile-tile {
        background: #fff;
        white-space: normal;
        font-size: 12px;
        height: 350px !important;
    }

    .TempoCategoryTile {
        position: relative;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
        height: 350px !important;
    }

    .mtm55{
        margin-top: -55px !important;
    }

    .rating>li>div>h5 {
        font-size: 12px !important;
    }

    .rating {
        width: 100% !important;
    }

	.at-property-sec at-property-right-sidebar>div>div{
		margin-top: 0px !important;
	}

	.advice-content {
		padding: 0 !important;
		width: 375px;
		margin-left: 17px;
		margin-top: -100px;
	}

	.advice-inner-content {
		background-color: white;
		height: 240px;
		margin-left: 0px !important;
		box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
		padding-bottom: 25px;
	}

	.m-view {
		display: block !important;
		padding-top: 13px;
	}

	.d-view{
		display: none; !important;
	}

	.slide {
		list-style-type: none;
		padding: 0;
		margin-left: -31px !important;
	}

	.slick-slide .slick-current .slick-active{
		width: 200px !important;
	}

	.variantDiv{
		display: none;
	}

	.table .table-striped .table-bordered>tbody>tr>td>strike{
		font-size: 12px !important;
	}

	.wrapper-1140 {
		width: 1140px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-height: 250px;
		height: 130px !important;
		overflow: hidden;
	}

	.pro-image-slider>div>div>div{
		width: 200px !important;
	}

	.qtclass{
		width: 50% !important;
	}
}