body{
    margin-top: 60px;
    background:#fff;
}


a{
    text-decoration:none;
}
a:hover
{
    text-decoration: none;
}

.btn-margin-sms
{
    margin-top: 23px;
    margin-bottom: 10px;
}

@media only screen and (min-device-width: 992px){
    .myleftalign
    {
        margin-left: 30px;
    }
    .dhidetable{
        display: none;
    }
    .dvisibletable
    {
        display: block;
    }



    .seticon{
        text-align: center;
        margin-top: 20px;
        margin-left: -28px;
        margin-right: 10px;
    }

    #seticon{text-align: center;margin-top: 20px;margin-left: -28px; margin-right: 10px;}

}

@media only screen and (min-device-width: 480px){
    .mhidetable
    {
        display: none;
    }
    .mvisibletable
    {
        display: block;
    }

    #seticons{margin-left: -13px;
        margin-right: 15px;}

}

.search_categories{
    border: 3px solid #010101;
}

.order-card {
    color: #fff;
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.bg-c-blue {
    background: linear-gradient(45deg, #466eff, #8793ff);
}

.bg-c-red {
    background: linear-gradient(45deg, #ff6450, #ff5d54);
}

.bg-c-light {
    background: linear-gradient(45deg, #2eff01, #71ff92);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin:20px 0 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}
.card.card-tabs{
    padding-bottom: 30px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
li.close{
    opacity: 1;
}

.timeline{
    margin-top:20px;
    position:relative;

}

.timeline:before{
    position:absolute;
    content:'';
    width:4px;
    height:calc(100% + 50px);
    background: #003481;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
    left:14px;
    top:5px;
    border-radius:4px;
}

.timeline-month{
    position:relative;
    padding:4px 15px 4px 35px;
    background-color:#003481;
    display:inline-block;
    width:auto;
    border-radius:40px;
    border:1px solid #17191B;
    border-right-color:black;
    margin-bottom:30px;
    color: #ffffff;
}

.timeline-month span{
    position: absolute;
    top: -1px;
    left: calc(100% - 11px);
    white-space: nowrap;
    display: inline-block;
    background-color: #111;
    padding: 4px 10px 4px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid black;
    box-sizing: border-box;
}

.timeline-month:before{
    position:absolute;
    content:'';
    width:20px;
    height:20px;
    background: rgb(117, 117, 116);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d',GradientType=0 );
    border-radius:100%;
    border:1px solid #17191B;
    left:5px;
}

.timeline-section{
    padding-left:35px;
    display:block;
    position:relative;
    margin-bottom:30px;
}

.timeline-date{
    margin-bottom:15px;
    padding:2px 15px;
    background:#003481;
    position:relative;
    display:inline-block;
    border-radius:20px;
    border:1px solid #17191B;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.timeline-section:before{
    content:'';
    position:absolute;
    width:30px;
    height:1px;
    background-color:#444950;
    top:12px;
    left:20px;
}

.timeline-section:after{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    background:linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    top:7px;
    left:11px;
    border:1px solid #17191B;
    border-radius:100%;
}

.timeline-section .col-sm-4{
    margin-bottom:15px;
}

.timeline-box{
    box-shadow: 3px 1px 6px 2px #757574;
    position:relative;
    margin-bottom: 15px;
    background:linear-gradient(45deg, #ffaa60 , #ff8c26 ) !important;
    border-radius:15px;
    transition:all 0.3s ease;
    overflow:hidden;
}

.box-icon{
    position:absolute;
    right:5px;
    top:0px;
}

.box-title{
    padding:5px 15px 5px 35px;
    color: #ffffff;
    text-align: center;
}

.box-title i{
    margin-right:5px;
    position: absolute;
    left: 10px;
}

.box-content{
    padding:5px 15px;
    background:linear-gradient(45deg, #ffaa60 , #ff8c26 ) !important;;
}

.box-content strong{
    color:#ffffff;
    font-style:italic;
    margin-right:5px;
    font-weight: bold;
}

.box-item{
    margin-bottom:5px;
    color: #efefef;
}

.box-footer{
    padding:5px 15px;
    background-color:#757574;
    text-align:right;
    font-style:italic;
    color: #efefef;
}
.table-responsive{
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
.table-responsive table thead{
    background-color: #727271 !important;
    color: #ffffff !important;
}
.table-responsive table thead tr{
    background-color: #727271 !important;
    color: #ffffff !important;
}
.table-responsive table td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.table-responsive table td:last-child {
    border-left-style: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.table-responsive table tr:first-child{
    border-top: 5px solid #ffffff !important;
}
.table-responsive table tr{
    border-bottom: 5px solid #ffffff !important;
    background-color: #ffffff !important;
    border-collapse: collapse;
    cursor: pointer;
}
.table-responsive table tr:first-child td{
    margin-top: 5px !important;
}
.table-responsive table tr td{
    margin-bottom: 5px !important;
}
.table-responsive table td{
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-family: Lato-Regular;
    font-size: 15px;
    color: #333333;
    line-height: 1.4;
    background-color: #efefef !important;
    border-top: none !important;
    border-bottom: none !important;
    border-radius: 0px;
}
.table-responsive table tr:hover td, .table-responsive table tr.active td{
    background-color: #a7a7a7 !important;
    color: #ffffff;
}
.table-responsive table tr:hover{
    background-color: #ffffff !important;
    border-radius: 0 !important;
    border-collapse: collapse;
}
.table-responsive table thead tr:hover{
    background-color: #727271 !important;
    border-radius: 0 !important;
    border-collapse: collapse;
}
.table-responsive table th.sorting:after{
    font-family: 'Material Icons';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    content: 'sort';
}
.table-responsive table th.sorting_asc:after{
    font-family: 'Material Icons';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    content: 'keyboard_arrow_down';
}
.table-responsive table th.sorting_desc:after{
    font-family: 'Material Icons';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    content: 'keyboard_arrow_up';
}
.table-responsive table th{
    background-image: none !important;
}
.table-responsive table th:after{
    float: right;
}
.dataTables_wrapper .dataTables_processing {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding-top: 25%;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0.3)), color-stop(25%, rgba(255,255,255,0.95)), color-stop(75%, rgba(255,255,255,0.95)), color-stop(100%, rgba(255,255,255,0.3)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 75%, rgba(255,255,255,0.3) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 75%, rgba(255,255,255,0.3) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 75%, rgba(255,255,255,0.3) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 75%, rgba(255,255,255,0.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 75%, rgba(255,255,255,0.3) 100%);
    z-index: 999;
}
.label-default {
    background-color: #777;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 80%;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}