@media only screen and (max-width:1679px) {
	.at-Call-right {
	    padding-right: 16%;
	}
}

@media only screen and (max-width:1679px) {
	.at-Call-right {
	    padding-right: 10%;
	}
}

@media only screen and (max-width:1366px) {
	.at-Call-right {
	    padding-right: 8%;
	}
}

@media only screen and (max-width:1280px) {
	.at-Call-right {
	    padding-right: 5%;
	}
}


@media only screen and (max-width:1199px) {
	.main-search-field .at-input-price {
		height: 20px;
	}
	.at-Call-right {
	    padding: 65px 100px 30px 70px;
	}
	.at-about-title {
		margin-top: 30px;
	}
	.at-inside-Call h2 {
		font-size: 24px;
	}
	.at-Call-right .at-Call-right-inside h2 {
		font-size: 22px;
	}
	.at-blog-sec .at-blog-box .at-blog-img .at-blog-date ul li {
		margin-right: 10px;
	}
	.at-property-location p {
		font-size: 12px;
	}
	.at-about-sec {
		padding-bottom: 100px;
	}
	.main-search-field-three {
		height: auto;
		padding: 220px 0 120px;
	}

}
@media only screen and (max-width:1135px) {
	.at-Call-right .at-Call-right-inside h2 {
		font-size: 18px;
	}
	.at-inside-Call {
		padding: 90px 30px 90px 200px;
	}
	.at-inside-Call h2 {
	    font-size: 18px;
	}
}
@media only screen and (max-width:1100px) {
	.at-Call-right .at-Call-right-inside h2 {
		font-size: 18px;
	}
	.at-inside-Call {
		padding: 90px 30px 90px 200px;
	}
	.at-inside-Call h2 {
	    font-size: 18px;
	}

}

@media only screen and (max-width:991px) {
	.at-sign-in-up p {
		margin-right: 10px;
	}
	.at-social a i {
		margin-left: 5px;
	}
	.at-navbar .navbar-brand img {
		width: 140px;
		height: auto;
	}
	.at-navbar .navbar-default .navbar-nav > li > a {
		margin-left: 1px;
		padding: 25px 0;
	}
	.at-navbar .dropdown-menu > li > a {
		padding: 15px 10px;
	}
	.at-navbar .navbar-default .navbar-nav>li {
		margin-left: 18px;
	}
	.at-Call-left {
		float: none;
		margin-left: 0;
		width: 100%;
		border: none;
		text-align: center;
		-ms-transform: skewX(0deg);
    	-webkit-transform: skewX(0deg);
    	transform: skewX(0deg);
	}
	.at-inside-Call {
		padding: 50px 0;
		text-align: center;
		-ms-transform: skewX(0deg);
    	-webkit-transform: skewX(0deg);
    	transform: skewX(0deg);
	}
	.at-Call-right {
		float: none;
		text-align: center;
		width: 100%;
		padding: 50px 30px;
	}
	.at-short-line {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.main-search-field-two .at-search-box {
		margin-top: 20px;
	}
	.at-sidebar-search {
		margin-top: 30px;
	}
	.at-Call-right .at-Call-right-inside h2 {
		font-size: 24px;
		line-height: 1.3;
	}
	.at-inside-Call h2 {
	   font-size: 24px;
	   line-height: 1.3;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, 
	.navbar-nav .open .dropdown-menu > li > a {
	    padding: 10px 15px 10px 15px;
	}
	.navbar-toggle {
		border-radius: 0;
	}
	.m-view{
		display: inline-block !important;
	}
	.d-view{
		display: none;
	}
	.at-header-topbar {
		padding: 0px 0 5px 0;
	}
	.navbar-nav {
	    max-height: fit-content;
		margin: 0;
	}
	.at-navbar a .caret{
		display: block;
		color: rgb(0, 52, 129);
		float: right;
		margin: 10px 10px 0 0;
	}
	.at-navbar .navbar-default .navbar-nav > li > a {
	    padding: 12px 10px;
		text-align: left;
		box-shadow: none;
		color: rgb(0, 52, 129);
		margin-left: 0;
	}
	.at-navbar .navbar-default .navbar-nav > li{
		border-bottom: 1px solid #e1e1e1;
	}
	#at-inner-title-sec .at-inner-title-box h2 {
	    color: #CC935C;
	    font-size: 30px;
	}
	.at-about-sec {
		padding-bottom: 0;
	}
	.slide-caption-title {
		font-size: 28px;
	}
	.navbar-brand{
	    padding: 6px 0 0 0;  
	    height: auto;
	    margin-bottom: 10px;
	}
	.navbar-brand > img{
	    height: auto;
	    max-height: 40px;
	    width: auto;
	}
	.nav-justified > li {
		float: left;
		width: 25%;
		padding: 0;
		margin: 0;
	}
	.nav-justified>.active {
		padding: 0;
		margin: 0;
	}
	.at-property-details-col .nav>li>a {
		padding: 0;
	}
	.nav-pills>li+li {
		margin: 0;
	}
	#at-inner-title-sec img {
		width: 50%;
		margin: 0 auto;
		display: block;
	}
	.navbar-brand{
	    padding: 6px 0 0 0;  
	    height: auto;
	    margin-bottom: 10px;
		max-width: 150px;
	}
	.navbar-brand > img{
	    height: auto;
	    max-height: 40px;
	    width: auto;
	}
	.at-navbar{
		position: fixed;
		top: 0;
		width: 80%;
		left: -80%;
		bottom: 0;
		z-index: 2;
		background: #ffffff;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-transition: all 0.5s; /* Safari */
		transition: all 0.5s;
	}
	.navbar-toggle span.icon-bar{
		-webkit-transition: all 0.5s; /* Safari */
		transition: all 0.5s;
	}
	.navbar-toggle span.icon-bar:nth-child(3){
		-webkit-transition: all 0s; /* Safari */
		transition: all 0s;
	}
	.navbar-toggle.close-it span.icon-bar:nth-child(2){
		-ms-transform: rotate(45deg); /* IE 9 */
		-webkit-transform: rotate(45deg); /* Safari */
		transform: rotate(45deg); /* Standard syntax */
		position: absolute;
		top: 48%;
	}
	.navbar-toggle.close-it span.icon-bar:nth-child(3){
		visibility: hidden;
	}
	.close-it{
		min-height: 34px;
	}
	.navbar-toggle.close-it span.icon-bar:nth-child(4){
		-ms-transform: rotate(-45deg); /* IE 9 */
		-webkit-transform: rotate(-45deg); /* Safari */
		transform: rotate(-45deg); /* Standard syntax */
		position: absolute;
		top: 35%;
	}
	.at-navbar.open{
		left: 0 !important;
	}
	.at-navbar .col-md-12{
		padding: 0;
	}
	#bs-example-navbar-collapse-1{
		padding: 0;
	}
	#bs-example-navbar-collapse-1 > ul{
		margin: 0;
	}
	#topNav > ul{
		width: 100%;
	}
	.at-navbar .navbar-default .navbar-nav>li{
		margin-left: 0;
	}
	.mega-dropdown-menu{
		padding-bottom: 0 !important;
	}
	.mega-dropdown-menu > li{
		display: none;
	}
	.mega-dropdown-menu > ul > li > ul > li > a{
		padding-left: 30px;
		font-size: 15px;
	}
	aside.sidebar-shop{
		position: fixed;
		left: 100%;
		top: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		background-color: transparent;
		webkit-transition: all 0.5s;
		transition: all 0.5s;
		box-shadow: none;
		z-index: 999999;
	}
	aside.sidebar-shop .sidebar-wrapper{
		width: 77%;
		background-color: #ffffff;
		border-left: 1px solid #dddddd;
		float: right;
		padding: 15px;
		margin: 0;
		min-height: 100vh;
	}
	aside.sidebar-shop.open{
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 999999;
		padding: 0;
		webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	aside.sidebar-shop.open ~ .filter-wrapper{
		display: block;
	}
	.filter-button{
		display: block;
		margin-bottom: 30px;
	}
	.filter-div-close{
		float: left;
		width: 23%;
		height: 100%;
		cursor: pointer;
		display: block;
		
	}
	.verticleCarouselContainer{
		height: 476px;
	}
	.verticleCarouselContainer article{
		height: auto;
	}
	.verticleCarouselContainer article .home-featured-image img{
		height: 200px;
		width: 100%;
	}
	.border-left{
		border-left: none !important;
	}
	.quantity-select{
		margin: auto;
		height:29px; 
		/*max-width: 150px;
		float: none;
		border: none !important;*/
	}
	.reviews-graph .col-xs-2{
		padding: 0;
	}
	.rev-count{
		display: none;
	}
	.mob-rev-count{
		display: block;
		position: absolute;
		z-index: 2;
		top: -5px;
		right: 0;
		left: 0;
		text-align: center;
	}
	.carousel-inner img{
		width: 100%;
		height: 350px;
	}
	.nav-pills{
		margin-top: 5px !important;
	}
	.comparison-tile-bullets{
		margin-bottom: 25px;
	}
	.sample-1 {
		padding: 0 0 15px 0;
	}
	.sample-2 {
		padding: 0 0 15px 0;
	}
	.sample-3 {
		padding: 0 0 15px 0;
	}
	.sample-4 {
		padding: 0 15px 15px 15px;
	}
	.sample-5 {
		padding: 0 15px 15px 15px;
	}
	.request-box{
		position: relative;
		right: auto;
		margin-top: 5%;
		max-width: 300px;
		float: none;
		padding: 25px;
		min-height: 250px;
		margin-right: auto;
		margin-left: auto;
	}
	.apk_block span{
		font-size: 24px;
	}
	.apk_block{
		border: none;
	}
	.prevBtn{
		float: left;
		font-size: 12px;
	}
	.nextBtn{
		font-size: 12px;
	}
	.pdtop-100{
		padding-top: 30px;
	}
	.pdbtm-165{
		padding-bottom: 50px !important;
	}
	.style-1{
		padding: 40px 25px !important;
	}
	.b-hero1{
		padding-left: 0; 
		padding-right: 0; 
	}
	div.home_categories a{
		width: 48%;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img{
		height: 350px;
	}
	.agent-carousel-4 .slick-prev{
		left: 0 !important;
	}
	.agent-carousel-4 .slick-next{
		right: 0 !important;
	}
	.advice-box .advice-img{
		width: 100%;
		height: auto;
	}
	.advice-inner-content{
		margin-left: 0;
		margin-top: -27%;
		min-height: 235px;
		height: auto;
	}
	.advice-bottom-content{
		margin-left: 0;
	}

}

@media only screen and (max-width:768px) {
	
}

@media only screen and (max-width:767px) {
	.at-center767 {
		float: none;
		text-align: center;
	}
	.brand-panel{
		background: #dedede;
	}
	.flex-caption {
		font-size: 26px;
		line-height: 1.2;
	}
	.flex-caption span {
		font-size: 36px;
	}
	.at-respo-right {
		text-align: right;
	}
	
	.h1, h1{
		font-size: 24px;
	}
	.slides .inner-border{
		top: 10% !important;
	}
	.at-inner-title-box {
		text-align: center;
		padding: 15px 18px;
		margin:5px;
		border: none;
		background: rgba(255, 255, 255, 0.7);
	}
	.at-inner-title-box p{
		font-size: 14px;
	}
	.flexslider .slides img{
		height: 320px !important;
	}
	/*.pcs h6{
		color: #ffffff;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 14px;
		text-transform: none;
		margin-bottom: 0 !important;
		background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));
		background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,1));
		padding: 5px;
	}
	.pcs div{
		padding: 0 !important;
	}
	.pcs h6 i{
		color: #ffffff;
		display: none;
	}*/
	.at-agent-col{
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	.pro-reward-container{
		width: 100%;
	}
	.slider_section .container{
		padding: 0;
	}
	.slider_section .container > .row{
		margin: 0;
		width: 100%;
	}
	.pro-rewards-banner .reward-buttons{
		position: relative;
		width: 100%;
		padding-top: 15%;
	}
	.pro-rewards-banner .bd-button{
		padding: 0.8rem 1rem;
		font-size: 14px;
	}
	.pro-rewards-banner .bd-button:last-child{
		margin-left: 5px !important;
	}
	.pro-rewards-banner .right_div{
		top: auto;
		bottom: 0;
		width: 100%;
		height: auto;
	}
	.pro-rewards-items{
		padding:15px 0;
	}
	.pro-reward-item{
		min-height: 142px;
	}
	.funfact-section .container > .funfact{
		padding:0;
		float: left;
		width: 100%;
	}
	.funfact .fact-enquiry{
		position: relative;
		float: left;
		width: 100%;
		padding: 0 !important;
	}
	.consultation{
		padding: 15px !important;
	}
	.consultation-form{
		margin-left: 0;
	}
	.consultation:before{
		display: none;
	}
	.fact-counter{
		float: left;
		width: 100%;
	}
	.counter-area .counter-column{
		width: 50%;
		float: left;
	}
	.fact-counter .item .inner-box{
		padding-top: 0;
	}
	.counter-column .icon-box{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.fact-counter .item .inner-box p{
		font-size: 16px;
		color: rgba(255, 255, 255, 1);
	}
	.fact-counter .count-outer{
		margin-bottom: 5px;
		min-height: 35px;
	}
	.fact-counter .item{
		padding: 0px;
	}
	.fact-counter .item .inner-box .icon-box{
		line-height: 1;
	}
	.fact-counter .item .inner-box .icon-box i:before{
		font-size: 30px;
	}
	.icon-box > i{
		font-size: 30px;
	}
	.consultation .contact-form .form-group{
		margin-bottom: 5px;
	}
	.pro-rewards-banner h2{
		font-size: 20px;
	}
	.pro-rewards-banner p{
		font-size: 16px;
	}

}
@media only screen and (max-width:520px) {
	.flex-caption {
		font-size: 18px;
	}
	.flex-caption span {
		font-size: 26px;
	}
}

@media only screen and (max-width:480px) {
	.at-full-wd480 {
		width: 100%;
	}
	.nav>li {
		text-align: left;
	}
	.at-main-herader-sec {
		text-align: center;
	}
	.at-main-herader-sec .at-respo-right {
		text-align: center;
	}
	.at-sign-in-up {
		float: none;
		text-align: center;
		display: inline-block;
	}
	.at-main-herader-sec .at-social {
		float: none;
		text-align: center;
		display: inline-block;
	}
	.slide-caption-title {
		font-size: 20px;
	}
	.navbar-brand{
	    padding: 6px 0 0 0; 
	    height: auto;
	    margin-bottom: 10px;
	}
	.navbar-brand > img{
	    height: auto;
	    max-height: 40px;
	    width: auto;
	}
	.cont-image{
		width:100%;
		height:auto;
		margin-top: 12px;
	}
	.inner-div > div{
		padding: 0;
	}
	.cont-content{
		text-transform: none;
		font-size: 16px;
	}
	div.home_categories a{
		width: 100%;
	}
	.carousel-inner#photo_gallery .item{
		height: 300px;
		overflow: hidden;
	}
}

@media only screen and (max-width:420px) {
	.main-search-field-two h1 {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 10px;
    	margin-top: 20px;
	}
	.main-search-field-two .at-search-box {
		margin-top: 0;
	}
	.navbar-brand{
	    padding: 6px 0 0 0;  
	    height: auto;
	    margin-bottom: 10px;
	}
	.navbar-brand > img{
	    height: auto;
	    max-height: 40px;
	    width: auto;
	}
}

@media only screen and (max-width:400px) {
	.flex-caption {
		display: none;
	}
	.navbar-brand{
	    padding: 0; 
	    height: auto;
	    margin: 10px 0;
	}
	.navbar-brand > img{
	    height: auto;
	    max-height: 40px;
	    width: auto;
	}
}

@media only screen and (max-width:360px) {
	.at-about-col .at-about-title h1 {
		font-size: 24px;
	}
	.navbar-brand{
	    padding: 6px 0 0 0;
	    height: auto;
	    margin-bottom: 10px;
	}
	.navbar-brand > img{
	    height: auto;
	    max-height: 40px;
	    width: auto;
	}
}